@import "bootstrap.css";

$font_inter: 'Inter', sans-serif;
$font_readex_pro: 'Readex Pro', sans-serif;
$main_color: #000000;

.container {
  max-width: 1294px;
}

h2 {
  font-family: $font_readex_pro;
  font-weight: 400;
  font-size: 42px;
  line-height: 125%;
  color: $main_color;
}

@media (max-width: 992px) {
  h2 {
    font-size: 35px;
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 30px;
  }
}

@media (max-width: 575px) {
  h2 {
    font-size: 27px;
  }
}

h3 {
  font-family: $font_readex_pro;
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  color: $main_color;
}

@media (max-width: 992px) {
  h3 {
    font-size: 29px;
  }
}

@media (max-width: 768px) {
  h3 {
    font-size: 27px;
  }
}

@media (max-width: 575px) {
  h3 {
    font-size: 25px;
  }
}

h4 {
  font-family: $font_readex_pro;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 125%;
  color: $main_color;
}

@media (max-width: 992px) {
  h4 {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  h4 {
    font-size: 23px;
  }
}

@media (max-width: 575px) {
  h4 {
    font-size: 21px;
  }
}

h5 {
  font-family: $font_readex_pro;
  font-weight: 400;
  font-size: 22px;
  line-height: 125%;
  color: $main_color;
  padding-bottom: 19px;
}

@media (max-width: 992px) {
  h5 {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  h5 {
    font-size: 17px;
  }
}

@media (max-width: 575px) {
  h5 {
    font-size: 15px;
    padding-bottom: 0;
  }
}

.zoom {
  transition: 0.5s;

  &:hover {
    transform: scale(1.05);
  }
}


header {
  .container {
    &-xl {
      padding: 0;
    }

    .navbar {
      padding-left: 0;

      .collapse {
        .nav-item {
          &:nth-of-type(1) {
            padding-right: 17px;
          }

          &:nth-of-type(2) {
            padding-right: 18px;
          }

          &:nth-of-type(3) {
            padding-right: 28px;
          }

          a {
            font-family: $font_inter;
            font-weight: 400;
            font-size: 14px;
            line-height: 120%;
            color: $main_color;

            &:hover {
              font-weight: 600;
            }
          }
        }

        .dropdown-toggle {
          &:after {
            content: '\f107';
            color: black;
            font-family: "Font Awesome 6 Free";
            font-weight: 600;
            border: none;
            vertical-align: 0;
          }
        }
      }

      form {
        button {
          &#what-lorem-ipsum-header {
            border: none;
            background-color: transparent;
          }
        }

        a {
          margin-left: 22px;

          &:hover {
            text-decoration: none;
          }

          &:after {
            content: '\f07a';
            color: black;
            font-size: 22px;
            font-family: "Font Awesome 6 Free";
            font-weight: 600;
          }
        }

        .form-control {
          display: none;
        }
      }
    }
  }
}
@media (max-width: 575px) {
  .main_section {
    margin-bottom: 50px !important;
  }
}
.main_section {
  margin: 20px 15px 75px;

  .container {
    background-color: #DCE5E2;
    border-radius: 32px;
    padding-left: 0;
    padding-right: 0;

    .row {
      .col-lg-6 {
        &.align-items-center {
          align-content: center;
          padding-left: 56px;

          button {
            font-family: $font_inter;
            font-weight: 400;
            font-size: 18px;
            line-height: 120%;
            color: $main_color;
            padding: 14px 53px;
            border: 1px solid $main_color;
            border-radius: 200px;
            background-color: transparent;

            &:hover {
              border: 1px solid blue;
            }

            &:active {
              background-color: lightgrey;
            }
          }
        }
      }
    }
  }

  h1 {
    max-width: 588px;
    font-family: $font_readex_pro;
    font-weight: 400;
    font-size: 58px;
    line-height: 120%;
    color: $main_color;
    padding-bottom: 11px;
  }

  @media (max-width: 1200px) {
    h1 {
      font-size: 50px;
    }
  }
  @media (max-width: 992px) {
    h1 {
      font-size: 45px;
    }
  }
  @media (max-width: 768px) {
    h1 {
      font-size: 40px;
    }
  }
  @media (max-width: 575px) {
    h1 {
      font-size: 35px;
    }
  }


  p {
    font-family: $font_inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: $main_color;
    margin-bottom: 30px;
  }

  .owl-carousel {
    .owl-nav {
      position: absolute;
      top: 47%;
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding-left: 18px;
      padding-right: 18px;

      .owl-prev {
        &:before {
          content: "\f104";
          font-family: "Font Awesome 6 Free";
          font-weight: 600;
          margin-left: 3px;
          height: 24px;
          width: 12px;
          font-size: 1.25em;
          line-height: .05em;
        }
      }

      .owl-next {
        &:before {
          content: "\f105";
          font-family: "Font Awesome 6 Free";
          font-weight: 600;
          height: 24px;
          width: 12px;
          font-size: 1.25em;
          line-height: .05em;


        }
      }
    }

    .owl-dots {
      position: absolute;
      bottom: 34px;
      left: 25%;

      .owl-dot {

        width: 194px;
        height: 2px;
        margin-right: 34px;
        background: #000000 !important;
        border-radius: 0;

        &.active {
          height: 3px;
          border: solid 1px blue;
        }
      }

      @media (max-width: 992px) {
        .owl-dot {
          width: 140px;
        }
      }
      @media (max-width: 768px) {
        .owl-dot {
          display: none
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .latest_offers {
    margin-left: 15px;
  }
}
@media (max-width: 575px) {
  .latest_offers {
    margin-bottom: 50px !important;
  }
}
.latest_offers {
  margin-bottom: 100px;

  .container {
    .indent_bottom {
      margin-bottom: 55px;

      p {
        max-width: 628px;
        font-family: $font_readex_pro;
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        color: $main_color;

      }
    }

    .col-lg-6 {
      .shadow {
        &.bg-white {
          &.rounded {
            padding: 0 42px 0;

            @media (min-width: 1280px) {
              &.watch_indent {
                margin-bottom: -22px;

              }
            }
            @media (max-width: 1279px) {
              &.watch_indent {
                margin-bottom: 16px;

                .d-block {
                  max-height: 270px;
                  max-width: 381px;
                }
              }
              &.laptop_img {
                .d-block {
                  max-height: 377px;
                  max-width: 500px;
                }
              }

            }
          }
        }
      }
    }

    .col-lg-3 {
      max-width: 312px;

      .shadow {
        &.bg-white {
          &.rounded {
            padding: 0;
          }
        }
      }
    }

    .row {
      .shadow {
        &.bg-white {
          &.rounded {
            p {
              font-family: $font_inter;
              font-weight: 400;
              font-size: 15px;
              line-height: 128%;
              color: $main_color;
            }

            &.d-flex {
              h3 {
                span {
                  font-family: $font_inter;
                  font-weight: 400;
                  font-size: 15px;
                  line-height: 120%;
                  color: $main_color;
                }
              }
            }

            .d-block {
              &.phones_img {
                margin-bottom: 41px;
              }
            }
          }

          &.tablet {

            margin-bottom: 0;
            padding: 0;
          }

          p {
            font-size: 16px;
          }

          h3 {
            margin-bottom: 42px;
          }

        }
      }
    }
  }
}


.top_items {
  margin-bottom: 50px;

  .container {
    &-lg {
      padding: -15px;
    }

    p {
      &.text-center {
        margin-bottom: 31px;
        font-family: $font_readex_pro;
        font-weight: 400;
        font-size: 13px;
        line-height: 129%;
        color: $main_color;
      }
    }

    .card-deck {
      margin: 0;

      .card {
        max-width: 303px;
        margin: 0 27px 0 0;
        border: none;

        &:last-of-type {
          margin: 0;
        }

        .top_items-img {
          max-width: 247px;
          max-height: 214px;
        }

        .card-body {
          padding: 0;
          @media (max-width: 575px) {
            &.pl_sm {
              margin-left: -4%;
            }
            .card-text {
              font-size: 13px !important;
            }
          }

          .card-text {
            font-family: $font_inter;
            font-weight: 400;
            font-size: 14px;
            line-height: 120%;
            color: #4B4B4B;
          }
        }
      }
    }
  }
}
@media (max-width: 575px) {
  .best_selling {
    margin-bottom: 50px !important;
  }
}
.best_selling {
  margin-bottom: 75px;

  .container {
    &-lg {
      padding: 0;
    }

    p {
      &.text-center {
        margin-bottom: 56px;
        font-family: $font_readex_pro;
        font-weight: 400;
        font-size: 13px;
        line-height: 17px;
        color: $main_color;
      }
    }

    .card-deck {
      .card {
        border: none;
        background-color: #F8F9FA;
        border-radius: 16px;
        padding-top: 41px;
        max-width: 413px;
        min-width: 280px;

        .mw_1 {
          max-width: 259px;
        }

        .mw_2 {
          max-width: 294px;
        }

        .mw_3 {
          max-width: 355px;
        }

        .card-body {
          padding: 0;

          .card-text {
            font-family: $font_readex_pro;
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 17px;
            text-align: center;
            color: $main_color;
            margin-bottom: 0;
          }

          .card-title {
            margin-bottom: 44px;
          }

          a {
            padding: 14px 63px;
            border: 1px solid #000000;
            border-radius: 200px;
            font-family: $font_inter;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: $main_color;
            margin-bottom: 30px;

          }
        }

      }

    }
  }
}


.ideas {
  margin-bottom: 75px;

  .container {
    p {
      &.text-center {
        margin-bottom: 56px;
        font-family: $font_readex_pro;
        font-weight: 400;
        font-size: 13px;
        line-height: 17px;
        color: #000000;
      }

      &.pb_4 {
        padding-bottom: 12px;
        font-family: $font_inter;
        font-weight: 400;
        font-size: 24px;
        line-height: 125%;
        color: $main_color;
        max-width: 600px;

      }

      @media (max-width: 1100px) {
        &.pb_4 {
          font-size: 18px;
        }
      }
      @media (max-width: 575px) {
        &.pb_4 {
          font-size: 15px;
          padding-bottom: 6px;
        }
      }
    }

    .col-12 {
      &.col-lg-6 {
        max-width: 620px;
        margin-bottom: 73px;
      }
    }
    @media (max-width: 575px) {
      .col-12 {
        &.col-lg-6 {
          max-width: 620px;
          margin-bottom: 50px!important;
        }
      }
    }

    a {
      font-family: $font_inter;
      font-weight: 400;
      font-size: 24px;
      line-height: 120%;
      color: $main_color;
      transition: 0.3s;

      &:hover {
        text-decoration: none;
        font-size: 25px;
      }
    }

    @media (max-width: 768px) {
      a {
        font-size: 20px;
      }
    }
    @media (max-width: 575px) {
      a {
        font-size: 17px;
      }
    }
  }
}

.search {
  margin-bottom: 68px;

  form {
    margin-bottom: 18px;
    position: relative;
    z-index: 0;

    input {
      width: 51%;
      height: 60px;
      background: #F8F9FA;
      border: 1px solid #C5C5C5;
      border-radius: 100px;
      padding-left: 67px;

      &::placeholder {
        font-family: $font_inter;
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        color: $main_color;
      }

      @media (max-width: 575px) {
        input {
          min-width: 280px;
        }
        &::placeholder {
          font-size: 12px;
        }
        button {
          left: 15px;
        }
      }
    }

    @media (max-width: 575px) {
      input {
        padding-left: 47px;
      }
    }

    button {
      position: absolute;
      z-index: 1;
      background-color: transparent;
      top: 21%;
      left: 26%;
      border: none;

      &:before {
        content: "\f002";
        font-size: 25px;
        font-family: "Font Awesome 6 Free";
        font-weight: 600;
      }
    }
  }

  ul {
    list-style: none;
    max-width: 630px;

    li {
      background: #FFFFFF;
      border: 1px solid #C5C5C5;
      border-radius: 200px;
      text-decoration: none;
      margin-right: 7px;
      margin-bottom: 7px;
      padding: 12px 22px 13px;

      a {
        display: inline-block;
        font-family: $font_inter;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        color: $main_color;
      }
    }
  }
}

.email {
  margin-bottom: 19px;

  .container {
    max-width: 935px;
    background-color: #DCE5E2;
    border-radius: 16px;

    h2 {
      padding-top: 47px;
    }

    p {
      font-family: $font_inter;
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      color: $main_color;

    }

    .size_img {
      max-width: 233px;

    }

    form {
      margin-top: 14px;
      justify-content: center;
      padding-bottom: 43px;

      .form-group {
        max-width: 400px;
      }

      @media (max-width: 575px) {
        input {
          padding-right: 0;
        }
        button {

          padding: inherit;
        }
        .form-control {
          width: inherit;
        }
      }
      @media (min-width: 768px) {
        input {
          padding-right: 50px;
        }
      }

      input {
        border: 1px solid #000000;
        border-radius: 54px 0 0 54px;
        height: 50px;

        &::placeholder {
          font-family: $font_inter;
          font-weight: 400;
          font-size: 14px;
          line-height: 120%;
          color: $main_color;
        }

      }

      button {
        background-color: $main_color;
        border-radius: 0 200px 200px 0;
        border: none;
        font-family: $font_inter;
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        color: white;
        padding: 16px 33px 17px 32px;
      }

      @media (max-width: 575px) {
        button {
          padding: 6px 13px 7px 12px;
        }
      }
    }

  }
}


footer {
  padding-top: 44px;
  background-color: #F8F9FA;

  .row {
    &.border_b {
      border-bottom: solid #DCE5E2 2px;
      margin-bottom: 52px;
      padding-bottom: 64px;

      p {
        font-family: $font_inter;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: $main_color;
        max-width: 304px;

      }

      ul {
        padding-left: 0;

        li {
          list-style: none;
          padding-bottom: 14px;

          a {

            font-family: $font_inter;
            font-weight: 400;
            font-size: 17px;
            line-height: 127%;
            color: $main_color;

          }

          @media (max-width: 767px) {
            a {
              font-size: 15px;
            }
          }
          @media (max-width: 575px) {
            a {
              font-size: 13px;
            }
          }
        }
      }
    }

    @media (max-width: 575px) {
      &.justify-content-between {
        p {
          font-size: 13px;
        }
      }
    }
  }
}