@import "bootstrap.css";
.container {
  max-width: 1294px;
}

h2 {
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 42px;
  line-height: 125%;
  color: #000000;
}

@media (max-width: 992px) {
  h2 {
    font-size: 35px;
  }
}
@media (max-width: 768px) {
  h2 {
    font-size: 30px;
  }
}
@media (max-width: 575px) {
  h2 {
    font-size: 27px;
  }
}
h3 {
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
}

@media (max-width: 992px) {
  h3 {
    font-size: 29px;
  }
}
@media (max-width: 768px) {
  h3 {
    font-size: 27px;
  }
}
@media (max-width: 575px) {
  h3 {
    font-size: 25px;
  }
}
h4 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  color: #000000;
}

@media (max-width: 992px) {
  h4 {
    font-size: 25px;
  }
}
@media (max-width: 768px) {
  h4 {
    font-size: 23px;
  }
}
@media (max-width: 575px) {
  h4 {
    font-size: 21px;
  }
}
h5 {
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
}

@media (max-width: 992px) {
  h5 {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  h5 {
    font-size: 17px;
  }
}
@media (max-width: 575px) {
  h5 {
    font-size: 15px;
  }
}
header .container-xl {
  padding: 0;
}
header .container .navbar {
  padding-left: 0;
}
header .container .navbar .collapse .nav-item:nth-of-type(1) {
  padding-right: 17px;
}
header .container .navbar .collapse .nav-item:nth-of-type(2) {
  padding-right: 18px;
}
header .container .navbar .collapse .nav-item:nth-of-type(3) {
  padding-right: 28px;
}
header .container .navbar .collapse .nav-item a {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
header .container .navbar .collapse .dropdown-toggle:after {
  content: "\f107";
  color: black;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  border: none;
  vertical-align: 0;
}
header .container .navbar form button#what-lorem-ipsum-header {
  border: none;
  background-color: transparent;
}
header .container .navbar form a {
  margin-left: 22px;
}
header .container .navbar form a:hover {
  text-decoration: none;
}
header .container .navbar form a:after {
  content: "\f07a";
  color: black;
  font-size: 22px;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
}
header .container .navbar form .form-control {
  display: none;
}

.main_section {
  margin-bottom: 75px;
  margin-top: 20px;
}
.main_section .container {
  background-color: #DCE5E2;
  border-radius: 32px;
  padding-left: 0;
}
.main_section .container .row .col-lg-6.align-items-center {
  align-content: center;
  padding-left: 56px;
}
.main_section .container .row .col-lg-6.align-items-center button {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  padding: 14px 53px;
  border: 1px solid #000000;
  border-radius: 200px;
  background-color: transparent;
}
.main_section .container .row .col-lg-6.align-items-center button:hover {
  border: 1px solid blue;
}
.main_section .container .row .col-lg-6.align-items-center button:active {
  background-color: lightgrey;
}
.main_section h1 {
  max-width: 588px;
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 58px;
  line-height: 120%;
  color: #000000;
  padding-bottom: 11px;
}
@media (max-width: 1200px) {
  .main_section h1 {
    font-size: 50px;
  }
}
@media (max-width: 992px) {
  .main_section h1 {
    font-size: 45px;
  }
}
@media (max-width: 768px) {
  .main_section h1 {
    font-size: 40px;
  }
}
@media (max-width: 575px) {
  .main_section h1 {
    font-size: 35px;
  }
}
.main_section p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 30px;
}
.main_section .owl-carousel .owl-nav {
  position: absolute;
  top: 47%;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 18px;
  padding-right: 18px;
}
.main_section .owl-carousel .owl-nav .owl-prev:before {
  content: "\f104";
  font-family: "Font Awesome 6 Free";
  font-weight: 600;
  margin-left: 3px;
  height: 24px;
  width: 12px;
  font-size: 1.25em;
  line-height: 0.05em;
}
.main_section .owl-carousel .owl-nav .owl-next:before {
  content: "\f105";
  font-family: "Font Awesome 6 Free";
  font-weight: 600;
  height: 24px;
  width: 12px;
  font-size: 1.25em;
  line-height: 0.05em;
}
.main_section .owl-carousel .owl-dots {
  position: absolute;
  bottom: 34px;
  left: 25%;
}
.main_section .owl-carousel .owl-dots .owl-dot {
  width: 194px;
  height: 2px;
  margin-right: 34px;
  background: #000000 !important;
  border-radius: 0;
}
.main_section .owl-carousel .owl-dots .owl-dot.active {
  height: 3px;
  border: solid 1px blue;
}
@media (max-width: 992px) {
  .main_section .owl-carousel .owl-dots .owl-dot {
    width: 140px;
  }
}
@media (max-width: 768px) {
  .main_section .owl-carousel .owl-dots .owl-dot {
    display: none;
  }
}

.latest_offers {
  margin-bottom: 100px;
  margin-left: 0;
}
.latest_offers .container .indent_bottom {
  margin-bottom: 55px;
}
.latest_offers .container .indent_bottom .m-auto p {
  max-width: 628px;
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.latest_offers .container .col-lg-6 .shadow.bg-white.rounded {
  padding: 0 42px 0;
}
@media (min-width: 1280px) {
  .latest_offers .container .col-lg-6 .shadow.bg-white.rounded.watch_indent {
    margin-bottom: -22px;
  }
}
@media (max-width: 1279px) {
  .latest_offers .container .col-lg-6 .shadow.bg-white.rounded.watch_indent {
    margin-bottom: 16px;
  }
  .latest_offers .container .col-lg-6 .shadow.bg-white.rounded.watch_indent .d-block {
    max-height: 270px;
    max-width: 381px;
  }
}
.latest_offers .container .col-lg-3 {
  max-width: 312px;
}
.latest_offers .container .col-lg-3 .shadow.bg-white.rounded {
  padding: 0;
}
.latest_offers .container .row .shadow.bg-white.rounded p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #000000;
}
.latest_offers .container .row .shadow.bg-white.rounded.d-flex h3 span {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #000000;
}
.latest_offers .container .row .shadow.bg-white.rounded .d-block.phones_img {
  margin-bottom: 41px;
}
.latest_offers .container .row .shadow.bg-white.tablet {
  margin-bottom: 0;
  padding: 0;
}
.latest_offers .container .row .shadow.bg-white p {
  font-size: 16px;
}
.latest_offers .container .row .shadow.bg-white h3 {
  margin-bottom: 42px;
}

.top_items {
  margin-bottom: 74px;
}
.top_items .container-xl {
  padding: 0;
}
.top_items p.text-center {
  margin-bottom: 31px;
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #000000;
}
.top_items .card-deck {
  margin: 0;
}
.top_items .card-deck .card {
  margin: 0 74px 0 0;
  padding: 0;
  border: none;
}
.top_items .card-deck .card:last-of-type {
  margin: 0;
}
@media (min-width: 1200px) {
  .top_items .card-deck .card .card-img-top {
    margin: 28px 28px 37px 28px;
    max-width: 247px;
  }
}
@media (max-width: 1199px) {
  .top_items .card-deck .card .card-img-top {
    margin: 8px 9px 8px 8px;
    max-width: 247px;
  }
}
.top_items .card-deck .card .card-body {
  padding: 0;
}
.top_items .card-deck .card .card-body .text-muted {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4B4B4B;
}
.top_items .card-deck .card .card-body .card-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4B4B4B;
}

.best_selling {
  margin-bottom: 75px;
}
.best_selling .container-lg {
  padding: 0;
}
.best_selling .container p.text-center {
  margin-bottom: 56px;
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #000000;
}
.best_selling .container .card-deck .card {
  border: none;
  background-color: #F8F9FA;
  border-radius: 16px;
  padding-top: 41px;
}
.best_selling .container .card-deck .card .mw_1 {
  max-width: 259px;
}
.best_selling .container .card-deck .card .mw_2 {
  max-width: 294px;
}
.best_selling .container .card-deck .card .mw_2 {
  max-width: 355px;
}
.best_selling .container .card-deck .card .card-body {
  padding: 0;
}
.best_selling .container .card-deck .card .card-body .card-text {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  margin-bottom: 0;
}
.best_selling .container .card-deck .card .card-body .card-title {
  margin-bottom: 44px;
}
.best_selling .container .card-deck .card .card-body a {
  padding: 14px 63px;
  border: 1px solid #000000;
  border-radius: 200px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 30px;
}

.ideas {
  margin-bottom: 75px;
}
.ideas .container-xl {
  padding: 0;
}
.ideas .container p.text-center {
  margin-bottom: 56px;
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #000000;
}
.ideas .container p.pb_4 {
  padding-bottom: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  max-width: 600px;
}
.ideas .container .col-12.col-lg-6 {
  max-width: 620px;
  margin-right: 20px;
  margin-bottom: 73px;
}
.ideas .container a {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  transition: 0.3s;
}
.ideas .container a:hover {
  text-decoration: none;
  font-size: 25px;
}

.search {
  margin-bottom: 68px;
}
.search form {
  margin-bottom: 18px;
  position: relative;
  z-index: 0;
}
.search form input {
  width: 51%;
  height: 60px;
  background: #F8F9FA;
  border: 1px solid #C5C5C5;
  border-radius: 100px;
  padding-left: 67px;
}
.search form input::placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
@media (max-width: 575px) {
  .search form input input {
    min-width: 280px;
  }
  .search form input::placeholder {
    font-size: 12px;
  }
  .search form input button {
    left: 15px;
  }
}
@media (max-width: 575px) {
  .search form input {
    padding-left: 47px;
  }
}
.search form button {
  position: absolute;
  z-index: 1;
  background-color: transparent;
  top: 21%;
  left: 26%;
  border: none;
}
.search form button:before {
  content: "\f002";
  font-size: 25px;
  font-family: "Font Awesome 6 Free";
  font-weight: 600;
}
.search ul {
  list-style: none;
  max-width: 630px;
}
.search ul li {
  background: #FFFFFF;
  border: 1px solid #C5C5C5;
  border-radius: 200px;
  text-decoration: none;
  margin-right: 7px;
  margin-bottom: 7px;
  padding: 12px 22px 13px;
}
.search ul li a {
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.email {
  margin-bottom: 19px;
}
.email .container {
  max-width: 935px;
  background-color: #DCE5E2;
  border-radius: 16px;
}
.email .container h2 {
  padding-top: 47px;
}
.email .container p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.email .container .size_img {
  max-width: 233px;
}
.email .container form {
  margin-top: 14px;
  justify-content: center;
  padding-bottom: 43px;
}
.email .container form .form-group {
  max-width: 400px;
}
.email .container form input {
  border: 1px solid #000000;
  border-radius: 54px 0px 0px 54px;
  height: 50px;
  padding-right: 80px;
}
.email .container form input::placeholder {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.email .container form button {
  background-color: #000000;
  border-radius: 0px 200px 200px 0px;
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: white;
  padding: 16px 33px 17px 32px;
}

footer {
  padding-top: 44px;
  background-color: #F8F9FA;
}
footer p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
footer .row.border_b {
  border-bottom: solid #DCE5E2 2px;
  margin-bottom: 52px;
  padding-bottom: 64px;
}
footer .row.border_b p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  max-width: 304px;
}
footer .row.border_b h5 {
  padding-bottom: 19px;
}
footer .row.border_b ul {
  padding-left: 0;
}
footer .row.border_b ul li {
  list-style: none;
  padding-bottom: 14px;
}
footer .row.border_b ul li a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #000000;
}

/*# sourceMappingURL=style.css.map */
